@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自訂 base */
@layer base {
  html {
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Squada One', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, system-ui, cursive, sans-serif;
  }
}

/* 自訂 components */
@layer components {
  .btn {
    /* @apply uppercase font-medium; */
    @apply inline-block py-2 px-12 text-lg duration-300;
  }
  
  .btn:focus {
    /* @apply outline-none; */
  }

  .btn-primary {
    @apply text-white bg-primary;
  }

  @screen lg {
    .btn-primary:hover {
      /* @apply ; */
    }
  }

  .btn-sm {
    @apply text-base py-1.5 px-6;
  }

  .btn-lg {
    @apply text-2xl py-3 px-14;
  }

  .btn-white {
    @apply text-black bg-white ring-1 ring-black;
  }

  .btn-white:hover {
    @apply text-white bg-primary;
  }


  .navbar {
    @apply max-h-0;
  }
  .navbar.active {
    @apply max-h-[300px];
  }

  @screen md {
    .navbar {
      @apply max-h-full;
    }
    .navbar.active {
      @apply max-h-full;
    }
  }
}

/* 自訂 utilities */
@layer utilities {
  .rotate-y-720 {
    transform: rotateY(720deg);
  }

  .rotate-x-720 {
    transform: rotateX(720deg);
  }

  .font-settings-bold {
    font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
  }

  .link {
    @apply duration-200 hover:opacity-70;
  }

  .translate-middle {
    @apply -translate-x-1/2 -translate-y-1/2;
  }

  .hover-300 {
    @apply transition-all duration-300;
  }
}


/* icon 預設值，不知道放哪比較好 */
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
